services:
  psql_bp:
    image: postgres:latest
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${BLUEPRINT_DB_DATABASE}
      POSTGRES_USER: ${BLUEPRINT_DB_USERNAME}
      POSTGRES_PASSWORD: ${BLUEPRINT_DB_PASSWORD}
    ports:
      - "${BLUEPRINT_DB_PORT}:5432"
    volumes:
      # This maps your local SQL file into the container's init directory
      - ./init-schema.sql:/docker-entrypoint-initdb.d/init-schema.sql
      - psql_volume_bp:/var/lib/postgresql/

volumes:
  psql_volume_bp:
